
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Solidity / Foundry
cache/
out/
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.env

# General
.DS_Store
Thumbs.db
*.log
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
